<div class="row container full-bg-img-001" style="min-height: 700px">

<div class="row" style="height: 125px"></div>

<div class="container col-sm-6 col-sm-push-6">
  <div class="card hoverable" style="margin-bottom: 50px">
    <div class="container col-sm-12">
    <%= form_for @user do |f| %>

      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <p><%= pluralize(@user.errors.count, "error") %>.</p>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <h4 class="text-center">Create Your Account</h4>
        <p>Already have an account? Sign in <%= link_to 'here', new_session_path %>.</p>

        <div class="input-field">
          <i class="material-icons prefix">person</i>
          <%= form_group_tag(@user.errors[:first_name]) do %>
            <%= f.label "First Name", for: "icon_prefix", class: 'label icon_prefix', style: 'margin-left: 10%' %>
            <%= f.text_field :first_name, id: 'icon_prefix', class: 'validate input-field', style: 'margin-left: 10%' %>
          <% end %>
        </div> <!-- input-field -->

        <div class="input-field">
          <i class="material-icons prefix">people</i>
          <%= form_group_tag(@user.errors[:last_name]) do %>
            <%= f.label "Last Name", for: "icon_prefix", class: 'label icon_prefix', style: 'margin-left: 10%' %>
            <%= f.text_field :last_name, id: 'icon_prefix', class: 'validate input-field', style: 'margin-left: 10%' %>
          <% end %>
        </div> <!-- input-field -->

        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= form_group_tag(@user.errors[:email]) do %>
            <%= f.label "Email", for: "icon_prefix", class: 'label icon_prefix', style: 'margin-left: 10%' %>
            <%= f.email_field :email, id: 'icon_prefix', class: 'validate input-field', style: 'margin-left: 10%' %>
          <% end %>
        </div> <!-- input-field -->

        <div class="input-field">
          <i class="material-icons prefix">vpn_key</i>
          <%= form_group_tag(@user.errors[:password]) do %>
            <%= f.label "Password", for: "icon_prefix", class: 'label icon_prefix', style: 'margin-left: 10%' %>
            <%= f.password_field :password, id: 'icon_prefix', class: 'validate input-field', style: 'margin-left: 10%' %>
          <% end %>
        </div> <!-- input-field -->

        <div class="input-field">
          <i class="material-icons prefix">https</i>
          <%= form_group_tag(@user.errors[:password_confirmation]) do %>
            <%= f.label "Confirm Password", for: "icon_prefix", class: 'label icon_prefix', style: 'margin-left: 10%' %>
            <%= f.password_field :password_confirmation, id: 'icon_prefix', class: 'validate input-field', style: 'margin-left: 10%' %>
          <% end %>
        </div> <!-- input-field -->

        <div class="text-center">
          <%= f.submit "Let's Go!", class: 'btn btn-primary' %>
        </div> <!-- text-center -->

      <% end %> <!-- form end -->
    </div> <!-- container inside -->
  </div>  <!-- card panel end -->
</div> <!-- column container -->

<div class="row" style="height: 125px"> </div>

</div> <!-- row -->

<!--Section: Detailed info-->
  <section id="sec-details"><div class="container">
    <div class="divider-new text-center">The Next Level of Fitness</span></div>
    <div class="row">
        <!--First column-->
        <div class="col-md-5 wow slideInUp" data-wow-delay="0.2s">
            <h4>Unleash the Power of BurnIt</h4>
            <hr>
            <p>Take the first step towards your goals.  Want to run faster? Jump higher? Lose weight? Maybe just touch (or see) your toes? We're here to help.</p>
            <br>
            <p>Whether you work out at home, in the gym, or in the great outdoors, you'll get just what you need to kick your workouts up a notch. What's that you say, couch potatoes? No, we didn't forget about you. If you're a fitness newbie, we can help you build a solid fitness foundation from the ground up.</p>
            <br>
            <p>So c'mon, what are you waiting for? Let's get started.</p>
        </div> <!-- column wow slideinup -->
    </div> <!-- row -->
  </div></section>
